// Imports
@import './assets/scss/colors.scss';
@import './assets/scss/flex.scss';

// Reset
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  color: $default;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.8;
}

body {
  height: 100vh;
  background: $secundary;
}

ol,
ul {
  list-style: none;
}

p,
span,
li {
  line-height: 1.8;
}

img {
  max-width: 100%;
  height: auto;
}

a,
img,
button {
  outline: none;
}

a,
button {
  cursor: pointer;
}

a {
  display: inline-block;
  color: $primary;
  text-decoration: none;
  transition: 0.2s;

  &:hover:not(.btn) {
    color: $primary-shade;
  }
}

// Global Classes
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

// Card
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  word-wrap: break-word;
  border: .0625rem solid rgba(0,0,0,.05);
  border-radius: .25rem;
  background-color: #fff;
  background-clip: border-box;

  &-header:not(:empty),
  &-content:not(:empty) {
    padding: 16px;
  }
}

.shadow {
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
}

// Fonts
.text-light { font-weight: 300 }
.text-regular { font-weight: 500 }
.text-bold { font-weight: 600 }

// Buttons
.btn {
  position: relative;
  display: inline-block;
  padding: 5px 12px;
  letter-spacing: .025em;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: .25rem;
  letter-spacing: 1px;
  transition: all .2s ease;
  will-change: transform;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &:hover {
    opacity: 0.9;
    transform: translateY(-1px);
  }
}

@each $color in map-keys($objectColors) {
  .btn-#{$color} {
    color: #fff;
    border-color: map-get($objectColors, $color);
    background-color: map-get($objectColors, $color);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  }
}

// Responsive Styles
@media only screen and (max-width: 767px) {

  body {
    background: #fff;
  }

  .container {
    &.no-margin-responsive {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }

  // Card
  .card {
    border: 0;
    // border-radius: 0;
    box-shadow: none !important;
  }

}